<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoweiyunchuang.orderfood.mapper.PartnerInfoMapper">
  <resultMap id="BaseResultMap" type="PartnerInfo">
    <id column="partner_id" jdbcType="VARCHAR" property="partnerId" />
    <result column="partner_name" jdbcType="VARCHAR" property="partnerName" />
    <result column="business_licence_no" jdbcType="VARCHAR" property="businessLicenceNo" />
    <result column="operator_name" jdbcType="VARCHAR" property="operatorName" />
    <result column="operator_id_num" jdbcType="VARCHAR" property="operatorIdNum" />
    <result column="partner_tel" jdbcType="VARCHAR" property="partnerTel" />
    <result column="partner_mobile" jdbcType="VARCHAR" property="partnerMobile" />
    <result column="partner_addr" jdbcType="VARCHAR" property="partnerAddr" />
    <result column="partner_region" jdbcType="VARCHAR" property="partnerRegion" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="del_flag" jdbcType="VARCHAR" property="delFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    partner_id, partner_name, business_licence_no, operator_name, operator_id_num, partner_tel, 
    partner_mobile, partner_addr, partner_region, create_by, create_date, update_by, 
    update_date, del_flag
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_partner_info
    where partner_id = #{partnerId,jdbcType=VARCHAR}
  </select>
  <select id="selectPartnerInfos" parameterType="PartnerInfo" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_partner_info
    where del_flag = 'N' 
    <if test="partnerRegion != null and partnerRegion != '' ">
		and partner_region = #{partnerRegion, jdbcType=VARCHAR}
	</if>
    <if test="partnerName != null and partnerName != '' ">
		and partner_name = #{partnerName, jdbcType=VARCHAR}
	</if>
	<if test="operatorName != null and operatorName != '' ">
		and operator_name = #{operatorName, jdbcType=VARCHAR}
	</if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    update t_partner_info set del_flag = 'Y'
    where partner_id = #{partnerId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="PartnerInfo">
    insert into t_partner_info (partner_id, partner_name, business_licence_no, 
      operator_name, operator_id_num, partner_tel, 
      partner_mobile, partner_addr, partner_region, 
      create_by, create_date, update_by, 
      update_date, del_flag)
    values (#{partnerId,jdbcType=VARCHAR}, #{partnerName,jdbcType=VARCHAR}, #{businessLicenceNo,jdbcType=VARCHAR}, 
      #{operatorName,jdbcType=VARCHAR}, #{operatorIdNum,jdbcType=VARCHAR}, #{partnerTel,jdbcType=VARCHAR}, 
      #{partnerMobile,jdbcType=VARCHAR}, #{partnerAddr,jdbcType=VARCHAR}, #{partnerRegion,jdbcType=VARCHAR}, 
      #{createBy,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, 
      #{updateDate,jdbcType=TIMESTAMP}, #{delFlag,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="PartnerInfo">
    insert into t_partner_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="partnerId != null">
        partner_id,
      </if>
      <if test="partnerName != null">
        partner_name,
      </if>
      <if test="businessLicenceNo != null">
        business_licence_no,
      </if>
      <if test="operatorName != null">
        operator_name,
      </if>
      <if test="operatorIdNum != null">
        operator_id_num,
      </if>
      <if test="partnerTel != null">
        partner_tel,
      </if>
      <if test="partnerMobile != null">
        partner_mobile,
      </if>
      <if test="partnerAddr != null">
        partner_addr,
      </if>
      <if test="partnerRegion != null">
        partner_region,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="partnerId != null">
        #{partnerId,jdbcType=VARCHAR},
      </if>
      <if test="partnerName != null">
        #{partnerName,jdbcType=VARCHAR},
      </if>
      <if test="businessLicenceNo != null">
        #{businessLicenceNo,jdbcType=VARCHAR},
      </if>
      <if test="operatorName != null">
        #{operatorName,jdbcType=VARCHAR},
      </if>
      <if test="operatorIdNum != null">
        #{operatorIdNum,jdbcType=VARCHAR},
      </if>
      <if test="partnerTel != null">
        #{partnerTel,jdbcType=VARCHAR},
      </if>
      <if test="partnerMobile != null">
        #{partnerMobile,jdbcType=VARCHAR},
      </if>
      <if test="partnerAddr != null">
        #{partnerAddr,jdbcType=VARCHAR},
      </if>
      <if test="partnerRegion != null">
        #{partnerRegion,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="PartnerInfo">
    update t_partner_info
    <set>
      <if test="partnerName != null">
        partner_name = #{partnerName,jdbcType=VARCHAR},
      </if>
      <if test="businessLicenceNo != null">
        business_licence_no = #{businessLicenceNo,jdbcType=VARCHAR},
      </if>
      <if test="operatorName != null">
        operator_name = #{operatorName,jdbcType=VARCHAR},
      </if>
      <if test="operatorIdNum != null">
        operator_id_num = #{operatorIdNum,jdbcType=VARCHAR},
      </if>
      <if test="partnerTel != null">
        partner_tel = #{partnerTel,jdbcType=VARCHAR},
      </if>
      <if test="partnerMobile != null">
        partner_mobile = #{partnerMobile,jdbcType=VARCHAR},
      </if>
      <if test="partnerAddr != null">
        partner_addr = #{partnerAddr,jdbcType=VARCHAR},
      </if>
      <if test="partnerRegion != null">
        partner_region = #{partnerRegion,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag,jdbcType=VARCHAR},
      </if>
    </set>
    where partner_id = #{partnerId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="PartnerInfo">
    update t_partner_info
    set partner_name = #{partnerName,jdbcType=VARCHAR},
      business_licence_no = #{businessLicenceNo,jdbcType=VARCHAR},
      operator_name = #{operatorName,jdbcType=VARCHAR},
      operator_id_num = #{operatorIdNum,jdbcType=VARCHAR},
      partner_tel = #{partnerTel,jdbcType=VARCHAR},
      partner_mobile = #{partnerMobile,jdbcType=VARCHAR},
      partner_addr = #{partnerAddr,jdbcType=VARCHAR},
      partner_region = #{partnerRegion,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      del_flag = #{delFlag,jdbcType=VARCHAR}
    where partner_id = #{partnerId,jdbcType=VARCHAR}
  </update>
  <cache />
</mapper>