<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>WeUI</title>
    <link rel="stylesheet" href="./css/weui/weui.css"/>
    <link rel="stylesheet" href="./css/biaozhun.css"/>
    <link rel="stylesheet" href="./css/style.css"/>
    <link rel="stylesheet" href="./css/lijidiancan.css"/>
</head>
<body>
<div class="body-wrap">
    <div class="header gradient">
    	<div class="header_d1 relative">
    		<span class="icon-arrow-left2 absolute"></span>
    		MOMO餐厅
    	</div>
    	<div class="header_d2">
    		<span class="logo"></span>
    		<span class="logo_text">
    			<p>欢迎下单，充值有惊喜哦~</p>
    			<p>在会员日当天全场菜品可享受8折优惠！</p>
    		</span>
    	</div>
    	<div class="header_d3">
    		<span class="title">公告</span><span>会员日当天全场菜品可享受8折优惠...</span>
    	</div>
    </div>
    <div class="mainer">
    	<div class="goods_menu box_row"><span class="box_flex active">商品</span><span class="box_flex">商家</span></div>
    	<div class="box_row">
    		<span class="menu_fl"><ul>
    			<li>火锅</li>
    			<li>炒菜</li>
    			<li>湘菜</li>
    			<li>川菜</li>
    			<li>粤菜</li>
    		</ul></span>
    		<span class="box_flex goods_detail">
    			<div class="differ">火锅</div>
    			<ul>
    				<li>
    					<img src="./img/cai.png"/>
    					<span>
    						<p class="goods_name">娃娃菜</p>
    						<p class="goods_sum">月售62份</p>
    						<p class="goods_price"><span class="goods_price_cur">￥12</span><span class="goods_error_price">￥16</span></p>
    					</span>
    					<span>						
    						<a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_warn">可选规格</a>
    					</span>
    				</li>
    				<li>
    					<span><img src="./img/cai.png"></span>
    					<span>
    						<p class="goods_name">娃娃菜</p>
    						<p class="goods_sum">月售62份</p>
    						<p class="goods_price"><span class="goods_price_cur">￥12</span><span class="goods_error_price">￥16</span></p>
    					</span>
    					<span>
    						<span class="icon-minus"></span>
    						<span>2</span>
    						<span class="icon-plus"></span>
    					</span>
    				</li>
    				<li></li>
    				<li></li>
    				<li></li>
    			</ul>
    		</span>
    	</div>
    </div>

</div>
</body>
</html>
