<!DOCTYPE html>

<html lang="zh-CN">
    <head>
        <title>后台系统</title>
        <meta charset="utf-8"/>
        <link href="./js/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="./css/common.css" rel="stylesheet"/>
        <link href="./css/me.css" rel="stylesheet"/>
    </head>
    <body>
    	<div class="adminheader">
    		<div class="mainer main_center">
    			<span>您好：</span>
    			<span class="name">悦烟</span>
    		</div>
    	</div>
    	<div class="adminbodyer">
    		<div class="mainer">
    			<span class="inline">
	    			<div class ="onemodle">
	    				<div><span>级别：</span><span class="txt-center">一级代理</span></div>
	    				<div><span>个人资料：</span><span class="txt-center"><a>修改</a></span></div>
	    				<div><span>余额：</span><span class="txt-center">￥999</span></div>
	    				<div>
	    					<span class="txt-center"><a>提现</a><a>充值</a></span>
	    				</div>
	    			</div>
    			</span>
    			<span class="inline">
	    			<div class ="onemodle">
	    				<div><span>下级代理:</span><span class="txt-center"><a>查看</a></span></div>
	    				<div><span>添加下级:</span><span class="txt-center"><a>添加</a></span></div>
	    				<div><span>推广链接:</span></div>
	    				<div><span>https:www.zhuce.com/shangJiid</span></div>
	    			</div>
    			</span>
    			<span class="inline">
	    			<div class ="onemodle">
	    				<div><span>未发货订单</span><span class="txt-center"><a>查看</a></span></div>
	    				<div><span>出货车:</span><span class="txt-center"><a>查看</a></span></div>
	    				<div><span>进货车：</span><span class="txt-center"><a>查看</a></span></div>
	    			</div>
    			</span>
    			<span class="inline">
	    			<div  class ="onemodle">
	    				<div><span>上线商品</span><span class="txt-center"><a>查看</a></span></div>
	    				<div><span>下线商品</span><span class="txt-center"><a>查看</a></span></div>
	    				<div><span>添加商品</span><span class="txt-center"><a>添加</a></span></div>
	    			</div>
    			</span>
    		</div>
    	</div>
    	<div class="adminfooter">免责声明 Copyright ©2015 悦烟直销系统 All Rights Reserved. 粤ICP备15013732号-1</div>
    </body>
</html>