<!doctype html>

<html>
    <head>
        <title></title>
        <meta charset="utf-8"/>
        <link href="./js/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="./css/common.css" rel="stylesheet"/>
        <link href="./css/qa.css" rel="stylesheet"/>
    </head>
    <body>
    	<div id="header"></div>
    	<div class="banner"></div>
   		<div id="bodyer">
   			<div class="qtitle"><span class="lines"></span><span>【问题一：选择悦烟优势在哪里？】</span>
   			<span class="lines"></span></div>
   			<p class="adetail">奇怪奇怪奇怪奇怪奇怪奇怪奇怪奇怪奇怪奇怪奇怪奇怪奇怪奇怪
   			奇怪奇怪奇怪奇怪奇怪奇怪奇怪奇怪奇怪奇怪奇怪奇怪奇怪奇怪奇怪
   			奇怪奇怪奇怪奇怪奇怪奇怪奇怪奇怪奇怪奇怪奇怪奇怪奇怪奇怪奇怪
   			</p>
   			<div class="qtitle"><span class="lines"></span><span>【问题二：悦烟直销平台使用规则】
   			</span><span class="lines"></span></div>
   			<p class="adetail">奇怪奇怪奇怪奇怪奇怪奇怪奇怪奇怪奇怪奇怪奇怪奇怪奇怪奇怪
   			奇怪奇怪奇怪奇怪奇怪奇怪奇怪奇怪奇怪奇怪奇怪奇怪奇怪奇怪奇怪
   			奇怪奇怪奇怪奇怪奇怪奇怪奇怪奇怪奇怪奇怪奇怪奇怪奇怪奇怪奇怪
   			</p>
    	</div>
    	<div id="footer"></div>
    	<script src="./js/lib/require.js" data-main="./js/qa"></script>
    </body>
</html>